body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    text-align: center;
    background-color: #9AAEBB;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color: #374955;
    font-size: 2.5em;
}

#nav {
    display: flex;
    align-items: stretch;
    background-color: #374955;
    margin: 0;
}

.navLink {
    text-decoration: none;
    padding: 0.7em;
    color: azure;
}

.navLinks {
    display: flex;
}

.logo {
    width: 1.5em;
}

.navLink:hover {
    background-color: #9AAEBB;
    color: #374955;
    transition: .5s;
}

.navLink.hover-effect {
    background-color: #9AAEBB;
    color: #374955;
}

.navLink.no-hover-effect {
    background-color: #374955;
    color: azure;
}

.navLink:active {
    background-color: #16B8F3;
    color: #374955;
}

.magniGlass {
    width: 1.2em;
    padding: 5px;
}

.searchInp {
    background-color: #9AAEBB;
    color: #25333b;
    border: none;
    height: 2em;
}

.navSearchBarForm {
    position: absolute;
    right: 1em;
    top: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    margin-top: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar .searchInp {
    background-color: #374955;
    color: #16B8F3;
}


.toggleButton {
    display: none;
    position: absolute;
    top: 0.45em;
    right: 0.7em;
    flex-direction: column;
    justify-content: space-around;
    width: 1.5em;
    height: 1.4em;
    border-radius: .2em;
    background-color: #9AAEBB;
}

.toggleButton:checked {
    border: #bfd4e2;
}

.toggleLine {
    align-self: center;
    width: 75%;
    height: 2.5px;
    border-radius: 10px;
    background-color: #374955;
}

.secOne {
    margin-bottom: 3em;
}

.secOne.shown {
    display: block;
}

.secOne.hidden {
    display: none;
}

.todayPanelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todayPanel {
    width: 56em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4fr 3fr 3fr;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1em;
    background-color: #bfd4e2;
    padding: 2em;
    margin: 0px 10px;
}

.temp {
    font-size: 2em;
}

.cityHeader {
    margin: 0;
}

.weatherInfo {
    padding: .5em;
    grid-column: span 2;
    text-align: left;
    color: #25333b;
}

.mainInfo>:nth-child(2n) {
    margin-top: 0;
}

.mainInfo>:nth-child(3) {
    margin-bottom: 0;
}

.additionalInfo {
    display: inline-block;
    border-left: 2px solid #374955;
    padding-left: 0.7em;
    margin-top: 0;
    list-style-type: none;
}

.weatherIcon {
    grid-column: span 2;
}

.weatherIconInfo {
    display: none;
}

.iconDescription {
    color: #25333b;
}

.cityImgDiv {
    grid-column: span 4;
    grid-row: span 2;
}

.cityImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secTwo {
    display: none;
    margin-bottom: 3em;
}

.secTwo.shown {
    display: block;
}

.secTwo.hidden {
    display: none;
}

.selectPanelBtn {
    display: none;
    background-color: #374955;
    color: #bfd4e2;
    cursor: pointer;
    border: none;
    border-radius: .8em;
    height: 4em;
    margin: 1em 0;
    font-family: 'Ubuntu', sans-serif;
}

.panelBtn {
    background-color: #374955;
    color: #bfd4e2;
    cursor: pointer;
    border: none;
    width: 6.5em;
    height: 3em;
    font-family: 'Ubuntu', sans-serif;
}

.firstPanelBtn {
    border-top-left-radius: .8em;
    border-bottom-left-radius: .8em;
}

.panelBtn:last-of-type {
    border-top-right-radius: .8em;
    border-bottom-right-radius: .8em;
}

.panelBtnsDiv {
    display: flex;
    justify-content: center;
    margin: 2em auto;
    padding: 0px 10px;
}

.panelBtn:hover {
    background-color: #9AAEBB;
    color: #374955;
    transition: .5s;
}

.panelBtn:active {
    background-color: #16B8F3;
    color: #374955;
}


.fiveDayPanel {
    display: flex;
    justify-content: center;
}

.panel {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 58em;
    min-height: 10em;
    background-color: #374955;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: .5em;
    padding: 1em;
    border-radius: 1em;
    margin: 0px 10px;
}

.oneEigth {
    min-height: 8em;
    max-height: 10em;

    border-radius: 1em;
    background-color: #bfd4e2;
    color: #25333b;
    padding: .5em 0;
}

.oneEigth:hover {
    background-color: #d8e2e9;
}

.secondPanel,
.thirdPanel,
.fourthPanel,
.fifthPanel {
    display: none;
}

.firstPanel.selected,
.secondPanel.selected,
.thirdPanel.selected,
.fourthPanel.selected,
.fifthPanel.selected {
    display: grid;
}

.firstPanel.unselected,
.secondPanel.unselected,
.thirdPanel.unselected,
.fourthPanel.unselected,
.fifthPanel.unselected {
    display: none;
}

.timeSpan {
    display: block;
}

footer {
    background-color: #374955;
    color: #16B8F3;
    font-size: 1em;
    padding: 2em 0;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    text-align: left;
}

.footerLink {
    color: #9AAEBB;
    text-decoration: none;
    display: block;
    padding: .5em .5em .5em 0;
}

.footerLink:hover {
    text-decoration: underline #9AAEBB;
}

.footerLink:active {
    color: #16B8F3;
    text-decoration: underline #16B8F3;
}

.footer-div {
    display: flex;
    flex-direction: column;
}

.footer-div .footer-div-p {
    font-size: 1.2em;
}

.footer-div-ul {
    list-style-type: none;
    /* text-align: left; */
    padding: 0;
    margin-top: 0;
}

/* 5 Day Forecast grid ctrl */
@media (max-width: 975px) {
    .panel {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .panel {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 350px) {
    .panel {
        grid-template-columns: 1fr;
    }
}

/* Weekday Buttons media */
@media (max-width: 350px) {
    .panelBtn {
        display: none;
    }

    .panelBtn.active {
        display: block;
        width: 100%;
    }

    .firstPanelBtn {
        border-top-left-radius: .8em;
        border-top-right-radius: .8em;
        border-bottom-left-radius: 0;
    }

    .panelBtn.active:last-of-type {
        border-top-right-radius:0;
        border-bottom-left-radius: .8em;
    }

    .panelBtnsDiv.active {
        flex-direction: column;
    }

    .selectPanelBtn {
        display: block;
        width: 100%;
    }

    footer {
        text-align: center;
        flex-direction: column;
    }
}

/* Todays Forecast grid ctrl */
@media (max-width: 500px) {
    .todayPanel {
        grid-template-rows: 1fr;
    }

    .weatherIconInfo {
        display: block;
    }

    .weatherIcon {
        display: none;
    }

    .iconDescriptionInfo {
        display: none;
    }

    .iconInfo {
        width: 150px;
    }
}

@media (min-width: 650px) {
    .searchBar {
        display: none;
    }
}

@media (max-width: 650px) {
    .navSearchBarForm {
        display: none;
    }
}

@media (max-width: 500px) {
    .weatherInfo {
        grid-column: span 4;
        text-align: center;
    }

    .weatherIcon {
        grid-column: span 4;
        grid-row: span 2;
    }

    .cityImg {
        display: none;
    }

    .toggleButton {
        display: flex;
    }

    .navLinks {
        display: none;
    }

    #nav {
        flex-direction: column;
    }

    .navLinks {
        flex-direction: column;
        text-align: center;
    }

    .navLink {
        padding: 0.5em;
    }

    .navLinks.active {
        display: flex;
    }

    .toggleButton.pressed {
        border: 2px solid black;
    }
}